@charset "utf-8";
/* CSS Document */


body{margin:0px;
padding:0px;
background:#FFF;
font-family: 'Calibri-Italic';
font-size:14px;
line-height:18px;
font-weight:normal;
color:#3b3b3b;
}
		@font-face {
				font-family: 'Calibri-Italic';
				src: url('../font/calibrii.eot');
				src: url('../font/calibrii.eot?#iefix') format('embedded-opentype'),
						 url('../font/calibrii.woff') format('woff'),
						 url('../font/calibrii.ttf') format('truetype'),
						 url('../font/calibrii.svg#calibrii') format('svg');
				font-weight: normal;
				font-style: normal;
		}
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../font/colabthi-webfont.eot');
    src: url('../font/colabthi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/colabthi-webfont.woff') format('woff'),
         url('../font/colabthi-webfont.ttf') format('truetype'),
         url('../font/colabthi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
		@font-face {
				font-family: 'Colaborate-Thin';
				src: url('../font/colabthi.eot');
				src: url('../font/colabthi.eot?#iefix') format('embedded-opentype'),
						 url('../font/colabthi.woff') format('woff'),
						 url('../font/colabthi.ttf') format('truetype'),
						 url('../font/colabthi.svg#colabthi') format('svg');
				font-weight: normal;
				font-style: normal;
		}
@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('../font/colablig-webfont.eot');
    src: url('../font/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/colablig-webfont.woff') format('woff'),
         url('../font/colablig-webfont.ttf') format('truetype'),
         url('../font/colablig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CalibriRegular';
    src: url('../font/calibri-webfont.eot');
    src: url('../font/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/calibri-webfont.woff') format('woff'),
         url('../font/calibri-webfont.ttf') format('truetype'),
         url('../font/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
		@font-face {
				font-family: 'Colaborate-Medium';
				src: url('../font/colabmed.eot');
				src: url('../font/colabmed.eot?#iefix') format('embedded-opentype'),
						 url('../font/colabmed.woff') format('woff'),
						 url('../font/colabmed.ttf') format('truetype'),
						 url('../font/colabmed.svg#Colaborate-Medium') format('svg');
				font-weight: normal;
				font-style: normal;
		}
/**********************RESET TOOLS**********************/
p, ul, ol, h1, h2, h3, h4, h5, h6, dd, form, input, textarea, select, img, blockquote, label {
	margin:0px;
	padding:0px;
	border:0px;
}
* {
	outline:0px;
}
a {
	color:#f0841f;
	text-decoration:none;
}
a:hover {
	color:#3b3b3b;
	text-decoration:none;
}
.clear {
	clear:both;
}

.text_01{ color:#0171ba;
font-size:20px;
font-family:Colaborate-Regular;
}
.text_02{ color:#0171ba;
font-weight:bold;
}
.text_03{ color:#227bb2;
font-family: 'CenturyGothicRegular';
font-size:16px;
line-height:40px

}
.text_04{ color:#3b3b3b;
font-family: 'CenturyGothicRegular';
font-size:16px;

}
.text_04b{ color:#3b3b3b;


}
.text_05{ color:#227bb2;
}
.text_06,.text_06 a{ color:#f80213;
text-decoration:none;
}
.text_06 a:hover{ color:#227bb2;
text-decoration:none;
}
.text_07{ color:#7c7c7c;
font-size:11px;
}
.text_08{ color:#f80213;
text-decoration:none;
font-size:11px;
}
.text_09{ color:#227bb2;
font-family: 'CenturyGothicRegular';
font-size:16px;
font-weight: normal!important;
text-transform:uppercase;
}
.Text10{ font-family: 'ColaborateLightRegular';
color:#626262;
font-size:17px;
}
.Text11{ font-family: 'ColaborateLightRegular';
color:#363636;
font-size:18px;
}
/*********************HEADER********/

header#head_wrap{ margin:0px;
padding:0px;
 width:100%;
 background:#c8c3c3;
}
section#header_wrap{margin:0px;
padding:0px;
 width:100%;
 background:#343434;
 height:40px;
 border-bottom:2px solid #FFF;
}
#header_wrapmain{ margin:0px auto;
max-width:958px;
 width:97%;
}
#header_wrapmain label{ margin:0px;
float:left;
color:#FFF;
text-decoration:none;
line-height:40px;
}
#header_wrapmain label a{ line-height:40px;
text-decoration:underline;
color:#FFF;
}
#header_wrapmain label a:hover{text-decoration:none;
color:#FFF;
}

#header_wrapmain p{margin:0px;
float:right;
color:#ffffff;
text-decoration:none;
text-align: right;
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
}
#header_wrapmain p a{ line-height:40px;
text-decoration:none;
color:#FFF;
margin:0px 8px;

}
#header_wrapmain p a:hover,.select2{text-decoration:none;
color:#6dcff6!important;
}


section#header_wrap2{margin:0px;
padding:0px;
background:#FFF url(../images/header_2bg.jpg) left top repeat-x;
max-height:131px;

}
.header_02{margin:0px auto;
max-width:958px;
 width:97%;
}
.header_02_right{ margin:0px;
float:right;
background:url(../images/shado_3.png) center bottom no-repeat;
padding-bottom:8px;
 margin-top:2.5%;
 width:30%;
}
.header_02_right_cont {/* width:262px;*/
border:1px solid #dedede;
background:#FFF;
padding:3px;
text-align: center;
}
.header_02_right_cont blockquote {/*width:238px;*/
background:#dbd7d7;
display:block;
padding:4% 1.2%;
font-size:16px;
color: #043d7b;
font-style:italic;
font-family:Verdana, Geneva, sans-serif;
}
.header_02_right_cont blockquote strong{ font-weight:bold;
font-size:27px;
font-style: normal!important;
line-height:37px;
font-family: Verdana, Geneva, sans-serif;
color:#343434;

}
.logo{ float:left;
margin:0px;
padding:0px;
width:20%;

}
.logo img{ width:100%;
height:auto;
}

/*************************NAV*************/
#navMain{ 
margin:0px auto;

max-width:994px;
 width:98.8%;
}
#nav{ position:relative;
 background:#000000 url(../images/nav_bg.jpg) left bottom repeat-x;
 border:3px solid #FFF;
 border-top: none;
 position:relative;
 	box-shadow: 0px 3px 8px #000000;
	-moz-box-shadow: 0px 3px 8px #000000;
	-webkit-box-shadow: 0px 3px 8px #000000;
	border-radius:0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	behavior: url(js/PIE.htc);
	z-index:1000;
	

}


/*nav#nav ul{ margin:0px;
list-style:none;
padding:0px;
}
nav#nav li{ margin:0px;
padding:0px;
 display:block;
  font-family: 'CenturyGothicRegular';
  font-size:14px;
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  line-height:28px;
  text-align:center;
  float: left;
}
nav#nav li a{ color:#ffffff;
  text-decoration:none;
  background:url(../images/nav_border.jpg) right top no-repeat;
   display:block;
   padding:0px 24px;
}
nav#nav li a:hover,.select{color:#00aeef!important;
  text-decoration:none;
     display:block;
}*/
.ba_none{ background:none!important;
}

/*********************BANNER*************/
#banner_wrap{margin:0px;
padding:0px;
 width:100%;
 background:#c8c3c3;
 padding-top:2%;
padding-bottom:1.5%;
}
#banner_main{margin:0px auto;
max-width:958px;
 width:97%;
 background:url(../images/banner_bg.jpg) bottom center no-repeat;
 padding-bottom:1.4%;
}
.banner{ 
padding:8px;
border:1px solid #dadada;
background:#FFF;
position:relative;
}


/****************BODY*********/
#body_wrap{margin:0px;
padding:0px;
 width:100%;
 background:url(../images/boby_bg.jpg) bottom left repeat-x;
 padding-top:16px;

}

#body_content_wrap{margin:0px auto;
 max-width:988px;
 width:98.2%;

 background:url(../images/content_bg.jpg) bottom right  no-repeat;
  padding-bottom:8%;
}

#diby_row_01{ margin:0px;
padding:0px;
 width:100%;
}

.box_wrap{ margin:0px;
/* max-width:226px;*/
 width:23%;
 background: url(../images/box_shado_01.jpg) bottom center no-repeat;
 padding-bottom:10px;
 float:left;
 margin-right:0px;
}

.box_01{margin:0px;
 background:#FFF;
  border:1px solid #ededed;
  padding:3px;
  	-moz-box-shadow:-0px 0px 7px #ededed;
	-webkit-box-shadow: -0px 0px 7px #ededed;
 filter: progid:DXImageTransform.Microsoft.Shadow(color='#ededed', Direction=145, Strength=3);

}
.box_contener{margin:0px;
padding:0px;
background:url(../images/box_contrnt_bg.jpg) repeat-x left top;
 padding:5px;
}
.box_image img{ width:100%;
height:auto;
margin:0px;
border:1px solid #cfcfcf;

}
.box_image{
}
.box_contener blockquote{margin:0px;
padding:0px;
 display:block;
 min-height:80px;
 margin-top:10px;
 font-size:12px;
 color:#363636;
 line-height:normal;
}
.box_contener label{margin:0px;
padding:0px;
 width:100%;
  display:block;
  font-size:11px;
  color:#0072bc;
  text-decoration:none;
  line-height:18px;
}
.box_contener label img{ width:100%;
height:auto;
}
.box_contener label a{  color:#f0841f;
  text-decoration:none;
}

.box_contener label a:hover{  color:#f0841f;
  text-decoration:none;
}

#body_wrap_02{margin:0px auto;
max-width:958px;
 width:97%;

}

aside#body_left{margin:0px;
float: left;	
 max-width:707px;
 width:74%;
}

aside#body_left h1{ margin:0px;
padding:0px;
    font-family: 'ColaborateLightRegular';
	font-size:24px;
	color:#363636;
	font-weight:normal;
	line-height:18px;
	 display:block;
	  width:100%;
	  padding-bottom:11px;
	  margin-top:33px;
	  text-transform:uppercase;
}

aside#body_left blockquote{ margin:0px;
padding:0px;
text-align:justify;
 display:block;
 margin-top:12px;


}
.image_03b{ float:left;
margin-right:2%;
margin-bottom:1.4%;
 background:#FFF;
 width:25%;

 display:block;
padding:4px;
border:#e5e5e5 1px solid;
-moz-box-shadow:-0px 0px 7px #ededed;
-webkit-box-shadow: -0px 0px 7px #ededed;
 filter: progid:DXImageTransform.Microsoft.Shadow(color='#ededed', Direction=145, Strength=3);
}
.image_03b img{ width:100%;
height:auto;

}

aside#body_left blockquote h2{ margin:0px;
font-family: 'ColaborateLightRegular';
 font-size:20px;
 color:#0171ba;
 line-height:normal;
  display:block;
    width:100%;
	margin-bottom:12px;
	font-weight:normal;
}

.content_box{margin:12px 0px;
padding:0px;
background:url(../images/shado_2.jpg) center bottom no-repeat;
padding-bottom:12px;
margin-bottom:8px;

}
.content_box_cont{ width:697px;
background: #FFF;
border:#e5e5e5 1px solid;
padding:4px;

}
.content_box_cont_main{ margin:0px;
padding:0px;
background:#dbebfc;
 width:657px;
 padding:14px 20px;

  font-family: 'CenturyGothicRegular';
 font-size:18px;
 color:#00003e;
 line-height:normal;
 text-decoration:none;
}
.content_box_cont_main a{ background:url(../images/bullet.jpg) left center no-repeat;
padding-left:12px;
 color:#00003e;
}
.content_box_cont_main a:hover{ 

 color:#00a2e4;
}

aside#body_left ul{ margin:12px 0px;
list-style:none;
padding:0px;
margin-top:18px;
}
aside#body_left li{margin:0px;
padding:0px;
 display:block;
 background:url(../images/bullet2.jpg) left center no-repeat;
 padding-left:12px;
  font-family: 'CalibriRegular';
 font-size:18px;
 color:#0171ba;
 line-height:20px;
}

aside#body_left h3{ background:#ebebeb;
  font-family: 'CenturyGothicRegular';
  padding:12px;
 width:684px;
 font-size:14px;
 color:#00003e;
 display:block;
 margin-top:2px;
 margin-bottom:3px;
  display:block;
  font-weight:normal;

}
.home_table_content{ margin:0px;
padding:0px;
 width:100%;
 margin-bottom:15px;
}
.home_table_content h4{ background:#e3eff5;
 font-family: 'CenturyGothicRegular';
  padding:12px;
 width:684px;
 font-size:14px;
 color:#227bb2;
 display:block;
 margin-top:2px;
 margin-bottom:3px;
  display:block;
  font-weight:normal;
}

.home_table_main{ margin:0px;
padding:0px;
 width:100%;
 background:#f9f9f9 url(../images/border_03.jpg) center bottom no-repeat;
}
.home_table_row_01{ background: url(../images/border_03.jpg) center top no-repeat;
font-size:12px;
color:#2b2b5e;
line-height:23px;


}
.home_table_row_01 span{ margin-left:15px;
}

.bottom_teb{ margin:0px;
padding:0px;
 width:100%;
}
.bottom_teb ol{ margin:0px;
padding:0px;
line-height:normal;
margin-left:20px;
list-style:none;

}
.bottom_teb ol li{ background:url(../images/tab_bg.jpg) left top repeat-x!important;
line-height:46px;
border:1px solid #d3d1d1;
float:left;
color:#013147;
text-decoration:none;
text-align:center;
 font-family: 'CenturyGothicRegular';
 font-size:15pz;
 margin-right:3px!important;
  padding:0px!important;
  margin-bottom:20px!important;
}
.bottom_teb ol li a{color:#013147;
text-decoration:none;
 display:block;
 background:url(../images/tab_bg.jpg) left top repeat-x;
 line-height:46px;
 padding:0px 15px;
 text-align:center;
}
.bottom_teb ol li a:hover{color:#227bb2;
text-decoration:none;
 display:block;
}
.border_right{ border-right:1px solid #eaeaea;
}


#body_right{margin:0px;
padding:0px;
 max-width:224px;
width:24%;
 float:right;
}
.right_box_01{margin:0px;
padding:0px;
background: url(../images/box_shado_01.jpg) center bottom no-repeat;
padding-bottom:10px;
width:100%;
}
.right_box_01_cont{ margin:0px;
background:#FFF;
border:#ededed 1px solid;
 padding:6px;
 -moz-box-shadow:-0px 0px 7px #ededed;
-webkit-box-shadow: -0px 0px 7px #ededed;
 filter: progid:DXImageTransform.Microsoft.Shadow(color='#ededed', Direction=145, Strength=3);
}
.right_box_01_content{ 
background:#000000 url(../images/box_01_bg.jpg) top left repeat-x;
padding:14px 16px 10px 16px;
}
.right_box_01_content h1{ margin:0px;
 font-family: 'ColaborateLightRegular';
 font-size:18px;
 color:#fdfdfc;
 line-height:20px;
  display:block;
    width:100%;
	margin-bottom:12px;
	font-weight:normal;
	display:block;
	float:left;
}
.right_box_01_content h1 span{ font-family: 'ColaborateLightRegular';
font-size:24px;
}

.home_input{ float:left;
margin-bottom:4px;
height:21px;
background:#fff;
 width:98%;
 border:none;
 padding-left:8px;
 font-family:Arial, Helvetica, sans-serif;
 color:#787777;
 line-height:21px;
 font-size:11px;

}
.Acc{ float:left;
margin-left:28%;
}
.Acc img{ width:100%;
height:auto;
}
.home_text{ float:left;
margin-bottom:8px;
height:41px;
background:#fff;
width:98%;
 border:none;
 padding-left:8px;
 font-family:Arial, Helvetica, sans-serif;
 color:#787777;
 font-size:11px;
}
.submit{margin:0px;
float:right;
background:url(../images/submit.jpg) no-repeat;
height:25px;
width:73px;
font-family:'CenturyGothicBold';
text-transform:uppercase;
 color:#fff;
 line-height:25px;
 text-align:center;
 border:none;
  cursor:pointer;
  text-indent:-9999px;
}

.right_box_02_cont,.right_box_03_cont{ margin:0px;
background:#FFF;
border:#ededed 1px solid;
/* width:216px;*/
 padding:3px;
 -moz-box-shadow:-0px 0px 7px #ededed;
-webkit-box-shadow: -0px 0px 7px #ededed;
 filter: progid:DXImageTransform.Microsoft.Shadow(color='#ededed', Direction=145, Strength=3);
}
.right_box_02_content,.right_box_03_content{ width:100%;
background:#fff url(../images/box_contrnt_bg.jpg) left top repeat-x;
padding-bottom:12px;

}
.right_box_02_cont  h1,.right_box_03_content h1{ margin:0px;
font-family: 'ColaborateLightRegular';
 background:url(../images/right_box_bg.jpg) repeat-x left top;
 font-size:18px;
 color:#fff;
 line-height:30px;
  display:block;
	font-weight:normal;
	display:block;
	padding-left:10px;

}

.right_box_02_cont  ul{ margin:0px;
list-style:none;
padding:0px;
}
.right_box_02_cont li{margin:0px;
padding:0px;
 display:block;
 background: url(../images/border_02.jpg) center top no-repeat;
 padding:15px 10px;
 color:#3b3b3b;
 line-height:16px;

}


/************************FOOTER*************/
footer#footer_wrap{margin:0px;
padding:0px;
background:#343434;
 width:100%;
}

.footer_01{ margin:0px auto;
max-width:958px;
 width:97%;
 padding:1.5% 0%;
}
.footerCol_01{ float:left;
/*max-width:280px;*/

width:30%;

}
.footerCol_01 blockquote{ font-size:12px;
line-height:16px;
color:#FFF;
display:block;
padding:1% 8%;
}
.footerCol_01 h2{font-family: 'ColaborateLightRegular';
font-size:18px;
line-height:18px;
text-align:lrft;
display:block;
border-bottom:1px solid #5d5d5d;
font-weight:normal;
color:#2896de;
text-transform:uppercase;
padding-bottom:1%;
margin-bottom:1.3%;
padding-left:8%;
}

.Gray{ color:#828282;
}

.News{ height:28px;
padding-top:8px;
}
.News input[type="text"]{ width:88%;
height:28px;
float:left;
border:none;
background:#FFF;
}
.News button[type="submit"]{ background:url(../images/mail.jpg) no-repeat;
width:12%;
height:28px;
float:right;
cursor:pointer;
border:none;
text-indent:-9999px;
}

.footerCol_01 p{ display:block;

padding:1% 8%;
}
.footerCol_01 + .footerCol_01{ margin-left:4%;
}

section#footer2{margin:0px;
padding:0px;
background:#fefefe;
width:100%;
padding:2% 0%;
line-height:14px;


}

.footer_Row01{ margin:0px auto;
max-width:958px;
 width:97%;
 font-family: 'CalibriRegular';
 font-size:14px;
 color:#343434;
 

}
.footer_Row01 a{color:#343434;
padding-right:6px;

}
.footer_Row01 a:hover{color:#343434;
padding-right:6px;
}
.footer_Row03{ margin:0px auto;
max-width:958px;
 width:97%;
font-family: 'Calibri-Italic';
 font-size:12px;
 color:#606060;
 padding:1% 0%;

}

.FreeRight{ position:fixed;
right:0px;
width:46px;
margin-top:8%;
}
